body{
    background-color: #EFF1FA;
    margin: 0px;
}
.contenedorBotones {
    width: 80%;
    position: absolute;
	height: 150px;
	left: 50%;
	top: 50%;
	margin-top: -100px;
	margin-left: -150px;
}

.botoninicio {
    background-color: #0A3871;
    color: #fff;
    font-size: 20px;
    border-radius: 15px;
    padding: 10px 30px 10px 30px;

}

.botonagregar {
    border: 0;
    color: #0A3871;
    font-size: 20px;
    border-radius: 15px;
    padding: 10px 30px 10px 30px;
}

#contenido-oculto {
    display: none;
}
#imagen-ahorcado{
    width: 50%;
    margin: 0 auto;
}
.img{
    height: 450px;
}
#botonPalabra{
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
}
.botonobtenerpalabra{
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
.palabras{
    width: 50%;
    margin: 0 auto;
}
#palabraAdivinar{
    text-align: center;
    height: 3em;
    font-size: 25px;
}
#palabraAdivinar span{
    vertical-align: bottom;
    font-size: 2em;
    border-bottom: 2px solid #0A3871;
    width: 30px;
    text-align: center;
    margin-right: 6px;
    display: inline-block;
    text-align: center;
}

/*Ventana Modal*/
.modalContainer {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContainer .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-top: 10px solid #0A3871;
    width: 60%;
}

.modalContainer .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*Botones*/
.botones{
    width: 50%;
    margin: 0 auto;
}
#letras{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    justify-content: center;
    margin-bottom: 50px;
}
#letras button{
    width: 28px;
    padding: 10px 10px;
    font-size: 20px;
}