body {
    background-color: #000000;
    margin: 0px;
    background-image: url(/assets/img/fondo.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo {
    font-family: 'Henny Penny', cursive;
    font-size: 100px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF72BF, 0 0 30px #FF72BF, 0 0 40px #FF72BF, 0 0 55px #FF72BF, 0 0 75px #FF72BF, -40px -3px 20px rgba(191, 29, 206, 0);

}

.contenedorBotones {
    text-align: center;
}

.contenido {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botoninicio {
    background-color: #42B2F6;
    color: #000;
    font-size: 25px;
    border-radius: 15px;
    padding: 10px 30px 10px 30px;
    font-family: 'Akaya Telivigala', cursive;
    cursor: pointer;
    transition: all 1s ease;

}

.botoninicio:hover {
    background-color: #fff;
    color: #0A3871;
    border-color: #0A3871;
    font-size: 27px;
}

.botonagregar {
    border: 0;
    color: #000;
    font-size: 25px;
    border-radius: 15px;
    padding: 10px 30px 10px 30px;
    font-family: 'Akaya Telivigala', cursive;
    cursor: pointer;
    transition: all 1s ease;
}

.botonagregar:hover {
    background-color: #1CB2ED;
    color: #000;
    font-size: 26px;
}

#contenido-oculto {
    display: none;
}

/*Estilos del juego*/
#imagen-ahorcado {
    width: 50%;
    margin: 0 auto;
}

.img {
    height: 300px;
}

#botonPalabra {
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    transition: all 1s ease;
    font-family: 'Akaya Telivigala', cursive;
    cursor: pointer;

}

.botonPalabraclass:hover {
    background-color: #1CB2ED;
    color: #000;
}

.botonobtenerpalabra {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.palabras {
    width: 50%;
    margin: 0 auto;
}

#palabraAdivinar {
    text-align: center;
    height: 3em;
    font-size: 25px;
    font-family: 'Akaya Telivigala', cursive;
}

#palabraAdivinar span {
    vertical-align: bottom;
    font-size: 2em;
    border-bottom: 2px solid white;
    width: 30px;
    text-align: center;
    margin-right: 6px;
    display: inline-block;
    text-align: center;
    color: #fff;
}

#mensajeResultado {
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
}

#frase {
    font-family: 'Akaya Telivigala', cursive;
}

#letras {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    justify-content: center;
    margin-bottom: 50px;
}

#letras button {
    padding: 10px 10px;
    font-size: 20px;
    font-family: 'Akaya Telivigala', cursive;
    cursor: pointer;

}

.errPoint {
    position: fixed;
    top: 10px;
    right: 10px;
    transform: translate(0, 0);
    background-color: #f1f1f1;
    padding: 0 15px 0 15px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    animation: neonBorder 1s infinite alternate;
}

#err {
    font-weight: bold;
    margin-right: 5px;
    font-size: 17px;
    font-family: 'Londrina Solid', cursive;
    text-align: center;
}
.pContador{
    font-family: 'Londrina Solid', cursive;
    font-size: 17px;
}

@keyframes neonBorder {
    0% {
        box-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 5px #1FDFEA, 0 0 10px #1FDFEA, 0 0 15px #1FDFEA, 0 0 25px #1FDFEA, 0 0 25px #1FDFEA, 0 0 35px #1FDFEA;
    }

    100% {
        box-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 5px #FF70B8, 0 0 10px #FF70B8, 0 0 15px #1FDFEA, 0 0 25px #1FDFEA, 0 0 25px #FE71BC, 0 0 35px #FE71BC;
    }
}

@media screen and (max-width: 450px) {
    .titulo {
        font-size: 75px;
    }

    .botoninicio {
        width: 50%;
        margin-bottom: 15px;
    }

    .img {
        height: 300px;
    }

    .palabras {
        width: 95%;
    }

    #letras {
        width: 95%;
        margin: 0 auto;
    }
}